# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
ENV/

# Streamlit cache
.streamlit/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Build / dist
build/
dist/
*.egg-info/
# Python packaging
pip-wheel-metadata/
